
.header {
    display: flex;
    align-items:      center;
    background-color: #7dbdfb;
    /* background-color: #819ad7; */
    position:         absolute;
    top:              0%;
    z-index: 1000; /* Keeps it above other elements */
    height:           100%;
    width:            100%;
    /* opacity: 100%; */
}

.header .app-logo-container {
    height:           100%;
    display:          flex;
    width:            25%; 
    margin-left:      3%;
    align-items: center;
}

.app-logo-container a {
    display: inline-block;
    position: absolute;
    left: 1%;
    width: 15%;
    height: 80%;
    text-decoration: none;
    margin-left: 3%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
}

.app-logo-container img {
    width:  60%;
    height: 80%;
    margin-left: 3%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
}

.menu-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
    width: 10%;
    
    margin-left: 8%;
    margin-right: 8%;
}

.user-mode-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
    width: 10%;
    /* background-color: gray; */
    margin-left: 12%;
}

.language-switch-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5%;
    height: 100%;
    margin-left: 10%;
    /* margin: 0 10px; */
}

.user-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
    width: 10%;
    /* background-color: gray; */
    margin-left: 3%;
}


/* STYLING FOR LINKS */

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black; /* Visited link */
}