
.header {
    display: flex;
    align-items:      center;
    background-color: #0000005C;
    position:         fixed;
    top:              0%;
    z-index: 1000; /* Keeps it above other elements */
    height:           15%;
    width:            100%;
}

.header .app-logo-container {
    height:           60%;
    width:            10%;
    background-color: gray;
    margin-left:      1%;
    border-radius: 10px;
}

.app-logo-container a {
    display: inline-block;
    position: absolute;
    left: 1%;
    width: 10%;
    height: 60%;
    text-decoration: none;
    border-radius: 5px;
}

.app-logo-container img {
    width:  60%;
    height: 100%;
}

.header .menu {
    /* background-color: rgb(128, 128, 128); */
    height: 60%;

    width: auto;
    margin-left: 10%;
    align-items: center;
    margin-right: 12%;
    border-radius: 10px;
}


.header .personas{
    border-radius: 10px;
    border-color: black;
}

.menu .menu-list {

    /* justify-content: /center; */
    align-items: center;
    /* position: absolute; */
    display: flex;
    list-style-type: none;
    padding: 15px;
    margin: 0;

}


.menu-list li {
    display: flex; /* Enables flexbox layout */
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    height: auto; /* Optional: define a fixed height for consistent alignment */
    width: auto; /* Optional: adjust the width as needed */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    /* cursor: pointer; */
    padding: 10px 15px; /* Add padding for better click targets */
    transition: background-color 0.3s ease; 
    list-style: none; /* Remove default list styling */
}
 
.menu-list a {
    text-decoration: none;
    text-emphasis-color: black;
}


.header .menu-user {
    display: flex;
    background-color: grey;
    height: 60%; 
    width: 8%;
    margin-left: 2%;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.menu-user .menu-user-item {
    
    /* margin-right: 20%; */
    display: flex; /* Enables flexbox layout */
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    height: auto; /* Optional: define a fixed height for consistent alignment */
    width: auto; /* Optional: adjust the width as needed */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    padding: 10px 15px; /*Add padding for better click targets*/
    transition: background-color 0.3s ease; /* Smooth hover effect */

    border-color: black;
}


/* STYLING FOR LINKS */

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black; /* Visited link */
}

.header .user-button {
    /* height: 60%;  */
    /* width: 8%; */
    margin-left: 7%;

    /* background-color: grey; */
    border-radius: 10px; 
}
