
.header {
    display: flex;
    align-items:      center;
    background-color: #0000005C;
    position:         fixed;
    top:              0%;
    z-index: 1000; /* Keeps it above other elements */
    height:           15%;
    width:            100%;
}

.header .app-logo-container {
    height:           90%;
    display:          flex;
    width:            25%; 
    margin-left:      3%;
}

.app-logo-container a {
    display: inline-block;
    position: absolute;
    left: 1%;
    width: 15%;
    height: 80%;
    text-decoration: none;
    margin-left: 3%;
}

.app-logo-container img {
    width:  60%;
    height: 80%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
}

.menu-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
    width: 10%;
    /* background-color: gray; */
    margin-left: 10%;
    margin-right: 10%;
}

.user-mode-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
    width: 10%;
    /* background-color: gray; */
    margin-left: 10%;
}

.user-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
    width: 10%;
    /* background-color: gray; */
    margin-left: 10%;
}

/* STYLING FOR LINKS */

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black; /* Visited link */
}