.home-page div {
    height: auto; /* Optional: define a fixed height for consistent alignment */
    width: auto; /* Optional: adjust the width as needed */
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items:      center;
    margin: 0%;
    background-color: #0000005C;
    /* position:         absolute; */
}


.home-page .Buttons{
    justify-content: center;
}

.Buttons ButtonLink {
    margin-right: 10%;
}

.home-page .parent-button{
    margin-left: 10%;
    display: flex;
    /* align-items: left; */
}


.home-page .nanny-button{
    margin-right: 10%;
    display: flex;
    /* align-items: right; */
}

