.home-page {
    
    /* Background  */
    width: 100%;
    height: 100%;
    background-image: url('../images/background_blurred.png');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat; 
    backdrop-filter: 'blur(5px)';
    
    justify-content: center;
    align-content: center;
    position: absolute; 
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: rgb(255, 255, 255);


}

main {
    
  flex: 1;
  
}

.inner-page {
    
    /* Background  */
    width: 100%;
    height: 100%;
    background-image: linear-gradient(white, #e6f3f9, white);
    background-color: rgb(255, 255, 255);
    
    /* background-image: url('../images/background_blurred.png'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    
    
    justify-content: center;
    align-content: center;
    position: relative; 
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    /* color: #948472; */
    /* color: black; */
    /* color: rgb(255, 255, 255); */

    overflow-y: auto;

}
  

.home-page .main {

}



/* .home-page {
    height: auto; /* Optional: define a fixed height for consistent alignment */
    /* width: auto; Optional: adjust the width as needed */
    /* font-family: Arial, Helvetica, sans-serif; */
    /* display: flex; */
    /* align-items:      center; */
    /* margin: 0%; */
    /* background-color: #0000005C;
    position:         relative; */

/* }  */


.home-page .Buttons {
    position: relative;
    justify-content: center;
}



.Buttons ButtonLink {
    position: relative;
    margin-right: 10%;
}



.text-border {
    border: 2px solid rgb(0, 0, 0); /* Adds the border */
    /* color: black; */
    padding: 10px; /* Space between text and border */
    width: fit-content; /* Adjust the width to fit the content */
    text-align: center; /* Center-align the text */
    margin: 20px auto; /* Centers the box in the container */
    font-family: Arial, sans-serif;
    font-size: 16px;
}
