.login h2 {
    text-align: left;
    margin: 0px;
    margin-bottom: 20px;
}

.login-container {
    color: rgb(30, 30, 30);
    width: fit-content;
    height: auto;
    margin: 0px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    
}



.login-container .login-row {
    justify-content: right;
    padding: 3px;
}

.login-container .login-row input {
    /* color: rgb(30, 30, 30); */
    /* background-color: rgb(240, 248, 255, 0); */
    border: 1px solid rgb(30, 30, 30);
    
    outline: none;
}